.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(min-content, 284px));
    grid-template-rows: repeat(3, minmax(min-content, 213px));
    grid-gap: 16px;
    justify-content: center;
    padding: 92px 0 92px;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        grid-template-columns: repeat(3, minmax(min-content, 300px));
        grid-template-rows: repeat(4, minmax(min-content, 225px));
        grid-gap: 14px;
    }
}
