.intro-container {
    margin: 0 auto;
    max-width: 984px;
    display: flex;
    padding-top: 92px;
}

@media screen and (max-width: 1279px){
    .intro-container {
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px){
    .intro-container {
        justify-content: center;
        max-width: calc(100% - 32px);
    }
}
