.place__paragraphs {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 767px){
    .place__paragraphs {
        grid-column: 2/span 1;
        grid-row: 4/span 1;
    }
}
