.place__paragraph {
    margin: 0 0 26px;
    font-size: 18px;
    font-weight: 400;
    line-height: 29.34px;
}

.place__paragraph:last-child {
    margin-bottom: 0;
}

/*поднял до 1023, чтобы менялось одновременно с остальными элементами и не дёргалось лишний раз при изменении разрешения*/
@media screen and (max-width: 1023px){
    .place__paragraph {
        font-size: 16px;
        line-height: 26.08px;
    }
}
