.footer {
    margin: 0 auto;
    padding: 92px 0 24px;
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1279px){
    .footer {
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px){
    .footer {
        max-width: 720px;
        padding-top: 88px;
    }
}

@media screen and (max-width: 624px){
    .footer {
        max-width: 186px;
        padding-top: 75px;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 320px){
    .footer {
        margin: 0;
        padding: 64px 0 24px 16px;
        flex-direction: column;
        align-items: flex-start;
    }
}
